<font style="color: red;">
<center> Name Mohsin Arif AI & Machine Learning<br></font>
[Email] (mohsinarif2009@gmail.com)<br>
Title # Python pandas Data anaylsis and Cleaning<br></center>

# Step 1 Import necessary Libraries 

# Python pandas Data anaylsis and Cleaning

# 1- Insatall  library

In [11]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\ydo hello\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ydo hello\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ydo hello\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ydo hello\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ydo hello\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\ydo hello\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

# Insatall second library Numpy

In [9]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\ydo hello\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Note: you may need to restart the kernel to use updated packages.

# - Import library Pandas & Numpy

In [12]:
import pandas as pd

In [14]:
 import numpy as np

# Step-02 
# load the CSV data into a dataFrame

In [ ]:
df= pd.read_csv('data.csv')

# Step-03
# dispaly the first few rows of the DataFrame Python

In [ ]:
Print (df.head())

# Step -04 Check missing values

In [18]:
print(df.isnull().sum())

Name           0
Designation    0
Gender         0
Age            1
Salary         2
dtype: int64

# step 5  fill missing value inthe salary  colum with in mean salary

In [19]:
mean_salary = df ['Salary'] .mean()
df['Salary']. fillna(mean_salary, inplace=True)

C:\Users\YDO hello\AppData\Local\Temp\ipykernel_4168\3016204011.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary']. fillna(mean_salary, inplace=True)

# step 5  fill missing value inthe salary  colum with in median salary

In [20]:
df2=df['Salary'].fillna(df['Salary'].median())
print(df2)

0     1.150000e+05
1     3.500000e+04
2     5.000000e+04
3     7.000000e+04
4     1.500000e+06
5     1.725333e+05
6     2.000000e+04
7     1.150000e+05
8     3.500000e+04
9     1.725333e+05
10    7.000000e+04
11    9.000000e+04
12    1.100000e+05
13    2.000000e+03
14    1.600000e+04
15    1.700000e+05
16    1.900000e+05
Name: Salary, dtype: float64

In [22]:
df['Salary'].isnull().sum()

np.int64(0)

In [23]:
df.isnull().sum()

Name           0
Designation    0
Gender         0
Age            1
Salary         0
dtype: int64

# step 6  fill missing value in the Age  colum with in mean AGE

In [26]:
mean_Age = df['Age'] .mean()
df['Age'].fillna(mean_Age , inplace= True)

C:\Users\YDO hello\AppData\Local\Temp\ipykernel_4168\3395467052.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(mean_Age , inplace= True)

In [27]:
df.isnull().sum()

Name           0
Designation    0
Gender         0
Age            0
Salary         0
dtype: int64

7 step correct any Obvious data entry errors inthe Age colum

In [29]:
df['Age'].apply (lambda x: x if x<120 else mean_Age)

0     37.0000
1     30.0000
2     29.0000
3     30.0000
4     25.0000
5     22.0000
6     29.0000
7     26.0000
8     28.0000
9     55.0000
10    60.0000
11    48.6875
12    48.6875
13    67.0000
14    80.0000
15    20.0000
16    85.0000
Name: Age, dtype: float64

In [ ]:
 df['Salary'].apply ( lambda x: x  if x<6000 else mean_salary)

0     172533.333333
1     172533.333333
2     172533.333333
3     172533.333333
4     172533.333333
5     172533.333333
6     172533.333333
7     172533.333333
8     172533.333333
9     172533.333333
10    172533.333333
11    172533.333333
12    172533.333333
13      2000.000000
14    172533.333333
15    172533.333333
16    172533.333333
Name: Salary, dtype: float64

# 08 step standardize the 'Designation'  Colum to have Consistent Capitailzation

In [39]:
df['Designation'] = df['Designation'].str.title()
print(df['Designation'] )

0     Professor
1       Teacher
2      Engineer
3       Analyst
4      Engineer
5     Scientist
6       Analyst
7     Scientist
8      Engineer
9       Teacher
10    Professor
11     Engineer
12      Trainer
13      Teacher
14      Trainer
15    Professor
16     Engineer
Name: Designation, dtype: object

# STEP 09 CALCULATE THE Average SALARY  by Gender

In [ ]:
Salary_by_gender = df.groupby('Gender')['Salary'].mean()
print(Salary_by_gender)

Gender
F    318755.555556
M     92775.757576
Name: Salary, dtype: float64

# 10 STEP  CALCULATE THE Average Age  by Designation

In [44]:
Salary_by_Designation = df.groupby('Designation')['Salary'].mean()
print(Salary_by_Designation)

Designation
Analyst       45000.000000
Engineer     373000.000000
Professor    118333.333333
Scientist    143766.666667
Teacher       69844.444444
Trainer       63000.000000
Name: Salary, dtype: float64

# 11 STEP  CALCULATE THE Higher salary  greater than 100,000

In [45]:
higher_salary = df[df['Salary']> 100000]
print (higher_salary)

        Name Designation Gender    Age        Salary
0    Mukhtar   Professor      M   37.0  1.150000e+05
4      Babar    Engineer      F   25.0  1.500000e+06
5       Aqsa   Scientist      F   22.0  1.725333e+05
7      Samra   Scientist      F   26.0  1.150000e+05
9   Abdullah     Teacher      M   55.0  1.725333e+05
12     Ahsan     Trainer      M  156.0  1.100000e+05
15    Qaisar   Professor      M   20.0  1.700000e+05
16     Wajid    Engineer      M   85.0  1.900000e+05

#  12 Step store the salary by Age

In [47]:
sorted_df = df.sort_values(by='Age', ascending= False)
print(sorted_df)

             Name Designation Gender       Age        Salary
12          Ahsan     Trainer      M  156.0000  1.100000e+05
16          Wajid    Engineer      M   85.0000  1.900000e+05
14          Naeem     Trainer      M   80.0000  1.600000e+04
13          Wajid     Teacher      M   67.0000  2.000000e+03
10          Mosib   Professor      M   60.0000  7.000000e+04
9        Abdullah     Teacher      M   55.0000  1.725333e+05
11          Ahmed    Engineer      M   48.6875  9.000000e+04
0         Mukhtar   Professor      M   37.0000  1.150000e+05
1           Azziz     Teacher      M   30.0000  3.500000e+04
3   Naveed Fatima     Analyst      F   30.0000  7.000000e+04
2          Mohsin    Engineer      M   29.0000  5.000000e+04
6           Rafia     Analyst      F   29.0000  2.000000e+04
8            Eman    Engineer      F   28.0000  3.500000e+04
7           Samra   Scientist      F   26.0000  1.150000e+05
4           Babar    Engineer      F   25.0000  1.500000e+06
5            Aqsa   Scientist      F   22.0000  1.725333e+05
15         Qaisar   Professor      M   20.0000  1.700000e+05

#  13 Save the cleaned DataFrame to a new CSV file

In [48]:
df.to_csv('Cleaned_data.csv', index= False)

In [49]:
print (df.describe)

<bound method NDFrame.describe of              Name Designation Gender       Age        Salary
0         Mukhtar   Professor      M   37.0000  1.150000e+05
1           Azziz     Teacher      M   30.0000  3.500000e+04
2          Mohsin    Engineer      M   29.0000  5.000000e+04
3   Naveed Fatima     Analyst      F   30.0000  7.000000e+04
4           Babar    Engineer      F   25.0000  1.500000e+06
5            Aqsa   Scientist      F   22.0000  1.725333e+05
6           Rafia     Analyst      F   29.0000  2.000000e+04
7           Samra   Scientist      F   26.0000  1.150000e+05
8            Eman    Engineer      F   28.0000  3.500000e+04
9        Abdullah     Teacher      M   55.0000  1.725333e+05
10          Mosib   Professor      M   60.0000  7.000000e+04
11          Ahmed    Engineer      M   48.6875  9.000000e+04
12          Ahsan     Trainer      M  156.0000  1.100000e+05
13          Wajid     Teacher      M   67.0000  2.000000e+03
14          Naeem     Trainer      M   80.0000  1.600000e+04
15         Qaisar   Professor      M   20.0000  1.700000e+05
16          Wajid    Engineer      M   85.0000  1.900000e+05>