In [15]:
#Python Syntax

In [16]:
print("Fatima Momin")

Fatima Momin

In [17]:
#Python Comment (by the use of hash)

In [18]:
#Python Variables

In [19]:
x=10
y=10
x+y

20

In [22]:
#Python Variable Names (Case sensitive so illegal names are not allowed)

In [26]:
myvar="Fatima Momin" #my var(error will occur because illegal)
my_var="fatima"#my-var (wrong)
myVar="Momina"#2myvar(wrong)
print(myvar)
print(my_var)
print(myVar)

Fatima Momin
fatima
Momina

In [29]:
#Multiple Variables

In [28]:
a, b, c = "one", "two", "three"
print(a)
print(b)
print(c)

one
two
three

In [66]:
Products = ["Mobile", "Laptop", "Charger"] #this is list
a, b, c = Products
print(a)
print(b)
print(c)

Mobile
Laptop
Charger

In [31]:
#Python Numbers

In [32]:
a = 1    # int datatype
b = 2.8  # float datatype
c = 1j   # complex datatype 
c

1j

In [33]:
#Random Number

In [34]:
import random #it takes any random number from given range 

print(random.randrange(40,60 ))

54

In [35]:
#Python Casting

In [38]:
x = str("Fatima") #another method to initialize the datatype   
y = int(15)    
z = float(2.45)
print(x)
print(y)
print(z)

Fatima
15
2.45

In [39]:
#Python String

In [53]:
print("Fatima")
print('fatima')
text="this is the text of string"
ex="I'm from Pkaistan "
print(len(text)) #display length
print("string" in text)#display true if in the text
print("yes" in text)#vice versa
print(text.upper()) #display upper text
print(text.lower()) #display lower text
print(ex.strip()) #display "this is the text of string"
print(ex.replace("P", "R")) # replace string p with r

Fatima
fatima
26
True
False
THIS IS THE TEXT OF STRING
this is the text of string
I'm from Pkaistan
I'm from Rkaistan

In [45]:
#Slicing String

In [48]:
text = "Hello, World!" #the index start from 0 
print(text[0:3]) #display 0 to 3
print(text[:6]) #display from start
print(text[1:]) #display till end
print(text[-3:-2]) #negative indexing

Hel
Hello,
ello, World!
l

In [54]:
# Concatenation of strings

In [60]:
a = "Hello"
b = "World"
c = a + b
print(c)
c = a +" "+ b
print(c)
age=19
text = f"My name is John, I am {age}"
print(text)

HelloWorld
Hello World
My name is John, I am 19

In [61]:
#Python Booleans

In [62]:
print(15 > 9)
print(10 == 10)
print(10 < 2)

True
True
False

In [63]:
#Python Operators

In [65]:
2+2 #Print seperately separetly
2-2
2/2
2*2
2**2
2//2

1

In [67]:
#Python List

In [1]:
list=["Fatima","Faiqa","Kousar"]
list2=["Cutie","Choco","Beauty"]
print(list[1])#display 1 index data
list[0:1]=["Anaya","Hania"]#change index 
print(list)
list.append("Jannat")#add one index
print(list)
list.insert(0,"Jannat")#insert on 0
print(list)
list.extend(list2)#append two lists
print(list)
list.remove("Kousar")#remove from list
print(list)
list.pop(3)#pop from list
print(list)
del list[4]#delete one 
print(list)
del list
print(list)
list2.clear()#clear the list
print(list2)

Faiqa
['Anaya', 'Hania', 'Faiqa', 'Kousar']
['Anaya', 'Hania', 'Faiqa', 'Kousar', 'Jannat']
['Jannat', 'Anaya', 'Hania', 'Faiqa', 'Kousar', 'Jannat']
['Jannat', 'Anaya', 'Hania', 'Faiqa', 'Kousar', 'Jannat', 'Cutie', 'Choco', 'Beauty']
['Jannat', 'Anaya', 'Hania', 'Faiqa', 'Jannat', 'Cutie', 'Choco', 'Beauty']
['Jannat', 'Anaya', 'Hania', 'Jannat', 'Cutie', 'Choco', 'Beauty']
['Jannat', 'Anaya', 'Hania', 'Jannat', 'Choco', 'Beauty']
<class 'list'>
[]

In [3]:
#Loop List

In [7]:
list1=["Fatima","Faiqa","Kousar"]
for x in list1:#for loop syntax
  print(x)#print items one by one
for i in range(len(list1)):#point i to index 0
   print(list1[i])  
j = 0
while j < len(list1): # with while loop
  print(list1[j])
  j = j + 1  
  fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x) #Python Comprehension
    
    print(newlist)

Fatima
Faiqa
Kousar
Fatima
Faiqa
Kousar
Fatima
Faiqa
Kousar
['apple']
['apple', 'banana']
['apple', 'banana', 'mango']

In [8]:
#List Sorting

In [26]:
list=["D","B","C","A","E"]
list.sort()#ascending order
print(list)
list.sort(reverse=True)#descending order
print(list)
copylist=list.copy()#copy the list
for x in copylist:
 print(x)
#  list.count(3)
#  print(list)

['A', 'B', 'C', 'D', 'E']
['E', 'D', 'C', 'B', 'A']
E
D
C
B
A

In [27]:
#Python Tuple

In [34]:
thistuple = ("Red", "Green", "Blue", "Orange", "Red")#allow duplicates
print(thistuple)
tuple=("FatimaMomin")#one tuple
print(tuple)
tuple1=("20","A","56","V")#multiple string integers in tuple
print(tuple1)

('Red', 'Green', 'Blue', 'Orange', 'Red')
FatimaMomin
('20', 'A', '56', 'V')

In [35]:
#Python Dictionary

In [45]:
dict = {
  "brand": "MINIMINORS",
  "model": "IP1",
  "year": 1964,
  "Storage": 34
}
print(dict)
print(dict["Storage"])#print one specific
dict["Storage"]=90 #change value
print(dict["Storage"])
dict.update({"year": 2025})#another method
print(dict["year"])
dict["New"]="Branded"#add item
print(dict["New"])
dict.pop("New")#remove or pop item
print(dict)

{'brand': 'MINIMINORS', 'model': 'IP1', 'year': 1964, 'Storage': 34}
34
90
2025
Branded
{'brand': 'MINIMINORS', 'model': 'IP1', 'year': 2025, 'Storage': 90}

In [46]:
#Nested Dictionary

In [51]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
} 
print(myfamily)
print(myfamily["child2"]["name"])
for x in myfamily: 
 print(x)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
Tobias
child1
child2
child3

In [52]:
#if else statements

In [55]:
a=10 
b=20
if b > a:
    print("b has greater value")

b has greater value

In [57]:
a=10 
b=0
if b > a:
    print("b has greater value")   
else:
    print("a has greater value")

a has greater value

In [59]:
a=10
b=10
if b>a:
    print("b is greater")
elif a==b:
 print("a and b are equal")
else:
   print("a is greater")

a and b are equal

In [60]:
a = 50
b = 30
c = 40
if a > b and a > c: #AND Operator
  print("a is greater")
elif b > a and b > c:
  print("b is greater")
else:
   print("c is greater")

a is greater

In [63]:
a = 50
b = 60
c = 80
if a > b and a > c: #OR Operator
  print("a is greater")
elif b > a and b > c:
  print("b is greater")
else:
   print("c is greater")

c is greater

In [64]:
a = 100
b = 200
if not a > b:#Not operator
  print("a is NOT greater than b")

a is NOT greater than b

In [66]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20: #nested if
    print("and also above 20!")
    if x>30:
      print("above from 30")
  else:
    print("but not above 20.")

Above ten,
and also above 20!
above from 30

In [67]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break #break or exit the while loop
  i += 1 # or i = i+1

1
2
3

In [68]:
def function(fname): #Python functions
  print(fname + " ROLLNUMBERS")

function("FATIMA") #passing arguments and calling func
function("FAIQA")
function("KOUSAR")

FATIMA ROLLNUMBERS
FAIQA ROLLNUMBERS
KOUSAR ROLLNUMBERS

In [71]:
def function(*fname): #no.of argu
  print("My friend is "+ fname[1])

function("FATIMA","HANIYA","JENNIE") #passing arguments and calling func

My friend is HANIYA

In [1]:
#Python Lambda

In [3]:
x = lambda a : a + 10
print(x(5))#passing "a" value
x = lambda a, b : a * b
print(x(5, 6)) #multiplication and value of a & b

15
30

In [4]:
#Python Classes/Objects

In [5]:
class MyClass:
  x = 5

p1 = MyClass() 
print(p1.x)

5